<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Emdat.InVision.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <dataConfiguration defaultDatabase="Emdat.InVision.ReportInfo"/>
  <connectionStrings>
    <add name="Emdat.InVision.ReportContent" connectionString="Data Source=DEV-DB02;Initial Catalog=DATA_001;Persist Security Info=True;User ID=sa;Password=DEV-DB02;Application Name=InVision" providerName="System.Data.SqlClient"/>
    <add name="Emdat.InVision.ReportInfo" connectionString="Data Source=DEV-DB02;Initial Catalog=DATA_Reports;Persist Security Info=True;User ID=sa;Password=DEV-DB02;Application Name=&quot;Emdat InVision&quot;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <applicationSettings>
    <Emdat.InVision.Properties.Settings>
      <setting name="InVision_Presentation_SSRS_ReportingService2005" serializeAs="String">
        <value>http://CHRIS-PC:80/ReportServer/ReportService2005.asmx</value>
      </setting>
      <setting name="InVision_Presentation_SSRSExecution_ReportExecutionService" serializeAs="String">
        <value>http://CHRIS-PC:80/ReportServer/ReportExecution2005.asmx</value>
      </setting>
    </Emdat.InVision.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
