<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Emdat.InVision.ReportContent" 
         connectionString="Data Source=SQL02\trans;Initial Catalog=DATA_Reports;Persist Security Info=True;Integrated Security=True;Application Name='Emdat Report Execution Service'"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" 
         xdt:Locator="Match(name)" />
    <add name="Emdat.InVision.ReportInfo" 
         connectionString="Data Source=SQL01;Initial Catalog=DATA_001;Persist Security Info=True;Integrated Security=True;Application Name='Emdat Report Execution Service'"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" 
         xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.diagnostics xdt:Transform="Replace">
    <sharedListeners>
      <!-- trace any warnings, errors to the Application Event Log under the ‘Emdat’ source -->
      <add name="eventLog"
           type="System.Diagnostics.EventLogTraceListener"
           initializeData="Emdat Report Execution Service">
        <filter type="System.Diagnostics.EventTypeFilter"
                initializeData="Warning"/>
      </add>

      <!-- trace all messages to any sockets connected to port -->
      <add name="tcpListener"
           type="Emdat.Diagnostics.EmdatTcpServerTraceListener, Emdat.Net20"
           initializeData="42080">
        <filter type="System.Diagnostics.EventTypeFilter"
                initializeData="Information"/>
      </add>
    </sharedListeners>
    <switches>
      <!-- This switch controls general messages. In order to 
         receive general trace messages change the value to the 
         appropriate level. "1" gives error messages, "2" gives errors 
         and warnings, "3" gives more detailed error information, and 
         "4" gives verbose trace information -->
      <add name="InVision.SchedulingService.TraceSwitch" value="Verbose" />
    </switches>
    <sources>
      <source name="InVision.SchedulingService"
              switchName="InVision.SchedulingService.TraceSwitch"
              switchType="System.Diagnostics.SourceSwitch">
        <!-- these names come from the sharedListeners section above -->
        <listeners>
          <clear/>
          <add name="eventLog" />
          <add name="tcpListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>